
.no-padding{
  padding: 0;
}

.notLink{
  text-decoration: none;
  color: white;
}

/* Icons */
.icon-size{
  font-size: 1.5rem;
  color: white;
}

.below-nav {
  margin-top: 5rem;
}

.toast {
  color: white;
  text-align: center;
}

